@model List<BookViewModel>


@Html.ActionLink("Favorilerimi görüntüle","Favorites","Book",null,new {@class="btn btn-secondary"})
<a href="@Url.Action("Add","Book")" class="btn btn-danger">Ekle</a>


<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kitap Adı</th>
            <th scope="col">Yazar</th>
            <th scope="col">Fiyat</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Id</th>
                <td>@book.BookName</td>
                <td>@book.Author</td>
                <td>@book.Price ₺</td>
                <td><a class="btn btn-outline-warning">Favorilere ekle</a></td>
                <td><a href="@Url.Action("Detail","Book", new { @Id = book.Id })" class="btn btn-primary">Detay</a></td>
            </tr>
        }
    </tbody>
</table>