@model BookViewModel

<table class="table-bordered">
    <tr>
        <td>
            Id
        </td>
        <td>
            @Model.Id
        </td>
    </tr>
    <tr>
        <td>
            Ad
        </td>
        <td>
            @Model.BookName
        </td>
    </tr>
    <tr>
        <td>
            Yazar
        </td>
        <td>
            @Model.Author
        </td>
    </tr>
    <tr>
        <td>
            Ad
        </td>
        <td>
            @Model.Date
        </td>
    </tr>
    <tr>
        <td>
            Sayfa Numarası
        </td>
        <td>
            @Model.PageNumbers
        </td>
    </tr>
    <tr>
        <td>
            Sayfa Sayısı
        </td>
        <td>
            @Model.BookName
        </td>
    </tr>
    <tr>
        <td>
            Kategorisi
        </td>
        <td>
            @string.Join(',',Model.Categories)
        </td>
    </tr>
</table>